<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Juan Rios</title>
  <link rel='stylesheet' href='main.css'>
</head>

<body>
  <header>
    <h1>Juan Rios</h1>
  </header>

  <div>
    <h2>Llorona Records</h2>
    <p>Responsive web design and front-end development</p>
  </div>
</body>

</html>



